.footer {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 20px 50px;
  box-shadow: 0 10px 40px rgba(138, 103, 171, 0.4);
  width: 700px;
  box-sizing: border-box;
  text-align: center;
}

