.navbar-container {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 15px 50px;
  box-shadow: 0 10px 40px rgba(138, 103, 171, 0.4);
  width: 700px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  color: #6b4d8a;
  margin: 0 0 10px 0;
  font-size: 2.5rem;
  text-align: center;
}


